.card{
    min-height: 200px !important;
    border: solid white !important;
    
}

.card-title{
    text-align: center;
}

.card-text{
    text-align: center;
    font-size: 14px !important;
    
}

.open-button{
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    margin-left: 75px;
    background-color: #ffc107 !important;
}