.card-view{
    background-color: black;
}

.card-view * {
    background-color: black;
}

.movie-title{
    text-transform: uppercase;
}


.button{ 
    padding: 56px;
    font-style: italic;
    width: 35%;
    height: 40px;
}