$navbarColor: #3e4153;
$backgroundColor: #4d4240;
$fontColor: #e0dede;


.main-nav{
    background-color:#3e4153 !important;
}

.navbar-container{
    background-color: #3e4153  !important;
}

.ml-auto{
    background-color:  #3e4153  !important;
}

#navbar-middle{
    background-color: #3e4153 !important;
}

#responsive-navbar-nav{
    background-color: #3e4153 !important;
}

.navbar-logo{
    background-color: #3e4153 !important;

}

.navbar-buttons{
    color: $fontColor !important;
}

.navbar-buttons-user{
    text-align: center;
    color: $fontColor !important;
}

.navbar-buttons-logout{
    color: #ffc107 !important;
}