$navbarColor: #3e4153;


.main-nav{
    background-color:#3e4153 !important;
}

.navbar-container{
    background-color: #3e4153  !important;
}

.ml-auto{
    background-color:  #3e4153  !important;
}

#navbar-middle{
    background-color: #3e4153 !important;
}

#responsive-navbar-nav{
    background-color: #3e4153 !important;
}

.navbar-logo{
    background-color: #3e4153 !important;

}